@font-face {
  font-family: 'TheSeasonsBdIt';
  src: url('./assets/fonts/theseasons-bdit.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TheSeasonsBd';
  src: url('./assets/fonts/theseasons-bd.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TTCommons';
  src: url('./assets/fonts/tt_commons_pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'TTCommons', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Assuming single page no scroll based on "just one page" and "identical to image" */
  background-color: #000;
}

#root {
  width: 100%;
  height: 100%;
}
